.footer-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.deposit-withdrawl {
    display: flex;
    align-items: center;
}

.deposit-withdrawl button {
    border-radius: .75rem;
    color: white;
    background-color: #2E2020;
    box-shadow: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 10rem !important;
    height: 2.5rem !important;
}

.deposit-withdrawl button:hover {
    width: 10rem !important;
    height: 2.5rem !important;
    border: 2px solid #2E2020 !important;
    background-color: transparent;
    color: #2E2020;
}

.deposit-withdrawl button span {
    font-size: 1.25rem !important;
}

.logout-btn {
    border-radius: 0.75rem;
    color: #2E2020 !important;;
    box-shadow: none;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.logout-btn span{
    font-size: 1.5rem !important;
}

.footer-action-buttons{
    display: flex;
}
