.credit-cards {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container-1{
    margin: 2rem 0 2rem 0;
}

.cards-container-1,
.cards-container-2{
    display: flex;
}

.add-remove-card {
    display: flex;
    align-items: center;
    margin: 0 0 0.5rem 1rem !important;
}

.add-remove-card button {
    margin: 0 0.25rem 0.5rem 0;
}

.add-remove-card button {
    border-radius: .75rem;
    color: white;
    background-color: #2E2020;
    box-shadow: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 2.5rem !important;
    height: 2.5rem !important;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.add-remove-card button:hover {
    width: 2.5rem !important;
    height: 2.5rem !important;
    border: 2px solid #2E2020 !important;
    color: #2E2020;
}

.add-remove-card button span {
    font-size: 1rem !important;
}
