.balance-headline{
    display: flex;
    justify-content: flex-end;
}

.title-container {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    z-index: 1;
    font-size: 2.5rem !important;
    color: white
}

.title-container div {
    width: 49%;
    background-color: white;
    border-radius: .3125rem;
    padding: 1rem 1rem 1rem 1rem;
}

.my-wallet-container {
    display: flex;
}

.my-wallet-container div {
    background-color: transparent;
}

.my-wallet-headline {
    width: 100% !important;
    background-color: transparent;
    color: #2E2020;
    font-size: 25px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.my-wallet-headline h1 {
    color: #2E2020;
    font-weight: 600;
}

.my-wallet-send{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.my-wallet-send button{
    border-radius: .75rem;
    color: white;
    background-color: #2E2020;
    box-shadow: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 2.5rem !important;
    width: 7.25rem !important;
}

.my-wallet-send button span{
 transition: none;
 margin-right: 0.5rem;
}

.my-wallet-send button:hover{
    height: 2.5rem !important;
    width: 7.25rem !important;
    background-color: transparent;
    border: 2px solid #2E2020 !important;
    color: #2E2020;
}

.container-balance {
    color: #2E2020;
    font-size: 20px;
    display: grid;
    justify-content: flex-end;
    align-items: center;
}

.balance{
    font-weight: 700;
    font-size: 3rem;
}

.balance i{
    margin: 0 0 0 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.log-sign-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    height: 85%;
}

.log-sign-container button {
    width: 11.875rem;
    height: 11.875rem;
    color: white;
    background-color: #ecc1b0;
}

.log-sign-container button:hover {
    background-color: white;
    color: #F67280;
}

.footer-btns button{
    justify-content: space-between;
    border: none;
    box-shadow: none;
    background-color: unset;
    margin: .125rem 1rem .125rem .75rem;
}
